$contentBackground: #3b3b3b;;
$headColor: #f5c70f;
$upperCase: uppercase;
$pageBackground: rgba(198, 238, 252, 0.53);;
$borderColor: #f5c70f;
$head_color: #f5c70f;
$briefBackgr: #fff178;
$briefWidth: auto;
$left: null !default;
$briefMargR: null !default;
$briefMargB: 40px;
$briefPad: 20px;
$mainColorText: #fff;
$linkColor: #f5c70f;
$captColor: #000;
$main-font: 'Helvetica';

//table
$tableHeadColor: #000;
$tableHeadBackgr: #94a34e;
$tableBackgrColor: #677d01;

$formColor: #f5c70f;
