$contentBackground: #fff;
$headColor: #893c00 ;
$pageBackground: #dcbb9a;
$borderColor: #893c00;
$head_color: #893c00;
$upperCase: null !default;
$briefBackgr: #fadcba;
$briefWidth: 385px;
$left: left;
$briefMargR: 20px;
$briefMargB: 10px;
$briefPad: 18px;
$mainColorText: null !default;
$linkColor: #3d70a1;
$captColor: null !default;
$main-font: 'Helvetica';

$tableHeadColor: null !default;
$tableHeadBackgr: #e0e0e0;
$tableBackgrColor: null !default;

$formColor: #e0e0e0;